.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.ruff_cache/
shared_pipeline_stages/data/input/
shared_pipeline_stages/data/processed/
shared_pipeline_stages/data/output/
shared_pipeline_stages/data/review/
